.account-sidebar {
  width: 100%;
  height: 100%;
  background: white;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  .sidebar-header {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #ddd;

    .user-icon {
      margin-right: 15px;
      width: 50px;
      height: 50px;
      .logo-profile {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 1px solid #dcdcdc;
      }
    }

    .user-name {
      // width: 100%;
      font-weight: 700;
      font-size: 17px;
      line-height: 22px;
      // text-transform: uppercase;
    }
  }

  .sidebar-content {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          display: flex;
          align-items: center;
          padding: 15px 30px;
          color: #333;
          text-decoration: none;
          transition: background-color 0.3s;
          transition: 0.2s;
          font-weight: 600;

          svg {
            margin-right: 15px;
            font-size: 18px;
            color: #535353;
          }
        }
      }
      .active {
        a {
          color: #e30019;
        }
        svg {
          color: #e30019;
        }
      }
    }
  }
}

div:where(.swal2-container) h2:where(.swal2-title) {
  font-size: 1.125em !important;
}
div:where(.swal2-icon).swal2-warning {
  width: 4em;
  height: 4em;
}
div:where(.swal2-container) div:where(.swal2-actions) {
  width: 100% !important;
  button {
    width: 40% !important;
    flex-wrap: nowrap !important;
    padding: 8px 15px !important;
    &.swal2-confirm {
      border: 1px solid #e30019;
      background-color: #e30019;
      color: #fff;
    }
    &.swal2-deny {
      border: 1px solid #ececec;
      background-color: #ececec;
      color: #111111;
    }
  }
}

div:where(.swal2-container).swal2-center > .swal2-popup{
  border-radius: 8px;
}