.account-profile {
  margin: auto;
  height: 600px;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;

  .bg-heading {
    padding: 25px 30px;

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 0;
    }
  }
  .bg-input-info {
    padding: 20px 100px 25px 100px;

    .input-group-container {
      text-align: end;
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      width: 70%;

      .input-form {
        margin-left: 50px;
        width: 100%;
        text-align: start;

        .calendar {
          width: 95%;
        }

        .sex {
          display: inline;
          margin-right: 15px;
          text-align: start;
        }
      }

      label {
        width: 250px;
        font-weight: 600;
        text-align: end;
      }

      input[type="text"],
      input[type="email"] {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 95%;
        height: 40px;
        transition: 0.3s;
        color: #000000;
        // font-weight: 500;

        &:focus {
          border: 1px solid #fc5568;
          box-shadow: 0 0 15px #ff94a0;
          outline: none;
        }
      }

      input[type="radio"] {
        margin-right: 5px;
        // color: #333;
      }

      // input[type="radio"]:last-child {
      //   margin-left: 15px;
      // }

      select {
        width: 15.7%;
        margin-right: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      a {
        color: blue;
        text-decoration: none;
        margin-left: 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .bg-btn-form {
      // text-align: center;
      // margin: 15px;
      margin-top: 30px;
      .btn {
        font-family: "Nunito", sans-serif;
        background-color: #e30019;
        border: 1px solid #e30019;
        color: #fff;
        border: none;
        padding: 10px 28px;
        font-weight: 700;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #c00117;
        }
      }
    }
  }
}
