body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  // height: 100%;
  // width: 100%;
}
html,
#root,
.app-container {
  // height: 100%;
  // width: 100%;
}

.bg-loading-web {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;

  span {
    border-color: #ec001c #ec001c transparent !important;
  }
}

#nprogress .bar {
  height: 4px !important;
  // border-radius: 10px !important;
  background: #0dcaf0 !important;
}

#nprogress .peg {
  box-shadow: 0 0 50px #0dcaf0, 0 0 50px #0dcaf0 !important;
}

#nprogress .spinner-icon {
  border-top-color: #0dcaf0 !important;
  border-left-color: #0dcaf0 !important;
}
.main-container {
  border: 0.1px solid transparent;
  background-color: #f0f0f0;
  border-bottom: 0.1px solid #fff;
  // border-top: 0px;
  // border-bottom: 0;
}
.footer-container {
  // border: 1px solid red;
}
// .p-toast .p-toast-message .p-toast-message-content {
//   background-color: rgba(255, 242, 226, 0.5); /* Màu nền với độ trong suốt */
//   color: #000; /* Màu chữ để đảm bảo độ tương phản với nền */
//   backdrop-filter: blur(8px);
// }

.css-1idz92c-MuiCircularProgress-svg {
  color: #ec001c;
}
