.category-menu {
  height: 395px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  
  .menu-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 44px;
    padding: 0 15px;
    cursor: pointer;
    // transition: 0.2s;

    &:hover {
      background-color: #e30019;

      .menu-title {
        color: white;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        border-left: 20px solid #e30019;
      }
    }

    .menu-title {
      //   padding: 5px;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #000000;
      font-weight: 500;
    }

    .menu-icon {
      margin-right: 10px;
      font-size: 20px;
    }

    .menu-icon-next {
      position: absolute;
      right: 10px;
      font-size: 17px;
    }
  }

  .menu-item:first-child:hover {
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;

    // &::after {
    //   border-top: 20px solid transparent;
    //   border-bottom: 20px solid transparent;
    //   border-left: 20px solid #e30019;
    // }
  }

  .menu-item:last-child:hover {
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;

    // &::after {
    //   border-top: 20px solid transparent;
    //   border-bottom: 20px solid transparent;
    //   border-left: 20px solid #e30019;
    // }
  }
}
