.product-pc-container {
  //   border: 1px solid turquoise;
  width: 100%;
  .tilte-product {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #1ad0f7 0%, #2940b8 100%);
    border-radius: 5px 5px 0px 0px;

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }

    .pulse-icon {
      animation: pulse 1s infinite;
      margin-right: 5px;
      font-size: 28px;
    }

    p {
      position: absolute;
      right: 20px;
      top: 10;
      padding: 8px;
      color: #000000;
      background: #fff;
      border-radius: 5px;
      margin: 0px;
      font-size: 15px;
      font-weight: 800;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
    }

    div {
      height: 25px;
      width: 1px;
      margin: 0 30px;
      background-color: rgb(186, 186, 186);
    }

    span {
      // margin-left: 20px;
      font-family: "SF Pro Display", "Arial", sans-serif;
      color: #ffee12;
      font-style: italic;
      font-weight: 800;
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase;
    }
  }

  .product-list-pc {
    display: flex;
    align-items: start;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    /* padding: 30px 20px 0px 20px; */

    justify-content: space-between;

    @keyframes zoom {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.07);
      }
      100% {
        transform: scale(1);
      }
    }

    .bg-banner-pc {
      padding-left: 25px;
      padding-top: 100px;
      text-align: center;
      width: 25%;
      img {
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1),
          0 2px 6px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        width: 95%;
        animation: zoom 2.5s infinite;
      }
    }

    .bg-carousel {
      padding: 30px 20px 0px 20px;
      width: 75%;
      // border: 1px solid red;
    }

    .pc-card {
      background-color: #fff;
      border-radius: 8px;
      border: 1px solid rgb(233, 233, 233);
      overflow: hidden;
      // width: 250px !important;
      height: 400px;
      margin: 10px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        // border: 1px solid #ff213b8f;
        .product-image img {
          transform: scale(1.05);
        }
      }

      .product-image {
        text-align: center;
        overflow: hidden;
        margin: 15px 15px;
        width: 210px;
        height: 210px;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;
        }
      }

      .product-info {
        padding: 16px;
        position: relative;
        height: 135px;

        .product-name {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 12px;
          cursor: pointer;
          height: auto;
        }

        .product-description {
          font-size: 13px;
          color: #6d6e72;
          font-weight: 700;
          margin-bottom: 12px;
          border-radius: 5px;
          padding: 10px;
          background-color: #ececec;
          span {
            display: block;
            margin-bottom: 4px;
          }
        }

        .product-price {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 12px;
          display: grid;

          .original-price {
            text-decoration: line-through;
            color: #999;
            margin-right: 8px;
          }

          .discount-price {
            position: absolute;
            bottom: 0;
            font-size: 16px;
            color: #e53935;
          }

          .discount-percentage {
            padding: 0 4px;
            background: #ffeded;
            border-radius: 2px;
            color: #e30019;
            border: 1px solid #e30019;
            line-height: 16px;
            font-size: 13px;
            margin-left: 10px;
          }
        }

        .product-rating {
          font-size: 13px;
          color: #666;

          .rating-score {
            color: #ffa726;
            font-weight: bold;
            margin-right: 4px;
          }
        }
      }
    }
  }
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  border-radius: 10px !important;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #e30019 !important;
  border-radius: 10px !important;
}

.p-carousel .p-carousel-content .p-carousel-prev {
  margin-right: 15px !important;
  border-radius: 50% !important;
  height: 45px !important;
  width: 45px !important;
  background-color: #ececec !important;
  transition: 0.3s;

  &:hover {
    color: #e30019;
  }
  // border: 1px solid gray !important;
}

.p-carousel .p-carousel-content .p-carousel-next {
  margin-left: 15px !important;
  border-radius: 50% !important;
  height: 45px !important;
  width: 45px !important;
  background-color: #ececec !important;
  transition: 0.3s;

  &:hover {
    color: #e30019;
  }
}
