.profile-account-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 15px 0px;
  padding-bottom: 40px;
  .profile-sidebar {
    height: 600px;
    width: 23%;
  }
  .profile-content {
    margin-left: 15px;
    width: 75%;
    height: 100%;

    .bg-motion-container {
      height: 100%;
    }
  }
}
