.header {
  position: relative;
  z-index: 1000;
  background-color: #ec001c;
  width: 100%;
  transition: top 0.5s ease, background-color 0.5s ease, opacity 0.5s ease;
  display: flex;
  justify-content: center;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.5);
    background-color: #ec001c;
    // opacity: 0.9s;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    // margin-right: 50px;
    .logo-1 {
      img {
        height: 70px;
        width: auto;
      }
    }
  }

  .navigation {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;

    ul {
      // display: flex;
      // justify-content: space-around;
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      gap: 33px;

      li {
        position: relative;
        padding: 0 8px;
        .bg-item {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .count-product {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background: #fdd835;
            border: 2px solid #fff;
            color: #111111;
            font-size: 10px;
            font-weight: 700;
            text-align: center;
            position: absolute;
            left: 13px;
            top: 0px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }

          .item-left {
            margin-right: 10px;
          }

          .item-right {
            display: grid;

            span {
              font-size: 15px;
              font-weight: 700;
            }
          }
        }

        .bg-noti-add {
          border-radius: 10px;
          position: absolute;
          top: 85%;
          left: -550%;
          width: 300px;
          height: 165px;
        }

        .input-search {
          input {
            width: 350px;
            padding: 8px 13px;
            border-radius: 5px;
            border: none;
            padding-right: 35px;
            // margin-right: 100px;
          }

          span {
            position: absolute;
            right: 13px;
          }
        }

        a {
          position: relative;
          text-decoration: none;
          color: white;
          padding: 10px 15px;
          transition: color 0.3s;
          font-size: 18px;
          font-weight: 500;

          // &::after {
          //   content: "";
          //   position: absolute;
          //   bottom: 0;
          //   height: 2px;
          //   width: 0;
          //   border-radius: 50%;
          //   background-color: white;
          //   transition: width 0.5s;
          //   left: 50%;
          //   transform: translateX(-50%);
          // }

          // &:hover::after {
          //   width: 85%;
          // }

          // &.active::after {
          //   width: 85%;
          // }
        }

        &:hover a::after {
          width: 85%;
        }
      }

      .auth-link {
        // margin-left: 100px;
        display: flex;
        align-items: center;
        .name-user {
          color: white;
          font-weight: 700;
          margin-right: 15px;
        }
        .bg-login {
          margin-right: 20px;
          background: #be1529;
          border-radius: 4px;
          display: flex;
          align-items: stretch;
          transition: 0.3s;
          &:hover {
            background: #b31426;
          }
        }
      }
      .hotline {
        // margin-left: 20px;
      }
    }
  }
}

// @media (max-width: 768px) {
//   .header {
//     .container {
//       flex-direction: column;
//       align-items: flex-start;
//     }

//     .navigation {
//       ul {
//         flex-direction: column;
//         width: 100%;

//         li {
//           margin: 10px 0;
//         }
//       }
//     }
//   }
// }
