.collection-list-container {
  width: 80%;
  margin: 0 auto;
  .banner-left,
  .banner-right {
    z-index: 9;
    position: fixed;
    top: 0;
    width: 160px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease-out;

    img {
      height: 450px;
      width: 150px;
      border-radius: 5px;
    }
  }

  .banner-left {
    left: 10px;
  }

  .banner-right {
    right: 10px;
  }

  .container-fluid {
    padding: 0px;
    .breadcrumb {
      background: transparent;
      padding: 14px 0;
      white-space: nowrap;
      margin-bottom: 0;

      li {
        position: relative;
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          color: #1982f9;
          font-weight: 600;
          font-size: 16px;
        }

        &:not(:first-child)::before {
          content: "/";
          color: #1982f9;
          margin-right: 10px;
          margin-left: 10px;
        }
        span {
          color: #1982f9;
          font-weight: 600;
          font-size: 16px;
        }
      }

      li:last-child span {
        color: #6d6e72;
      }
    }
  }

  .banner-collection {
    margin: 0 auto;
    width: 100%;
    height: 300px;
  }

  .carousel {
    width: 100%;
    height: 100%;
    .carousel-indicators {
      display: none;
    }
  }

  .carousel-inner {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .carousel-item {
      width: 100%;
      height: 100%;

      img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .collection-sale {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 7px solid #ff0013;
    padding: 18px 0;
    background-color: #d30010;
    .collection-intro {
      margin: 0 auto;
      text-align: center;
      img {
        width: 70%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .content-collection-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 20px 0px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background: #fff;
    padding: 0 30px;
    display: flex;
    position: relative;

    .filter-bar-container-inner {
      margin: 20px 0px;
      width: 18%;
      height: 100%;
      border-radius: 5px;
      overflow: hidden;
      background-color: #e9ecef;
      font-weight: 500;
    }
    .product-list-collection-container {
      width: 82%;
      padding: 15px 0px 20px 20px;
    }
  }
}
